.hidden {
	display: none;
}

#app > h2 {
	text-decoration: underline;
}

#main-options {
	width: 100%;
}

#main-options select[name="category"] {
	margin: 6px 12px 6px 6px;
}

#advanced-filters div {
	display: flex;
	align-items: center;
	margin-top: 6px;
}

#advanced-filters div > label {
	margin-right: 6px;
	text-align: center;
}

#advanced-filters div > span {
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 0 6px;
}

#player-input {
	margin-right: 6px;
	padding-bottom: 2px;
	border-radius: 6px;
	border-style: solid;
}
